<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="USBMotionJpegServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <USBMotionJpegServer.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8070</value>
            </setting>
            <setting name="USBCameraConfigFile" serializeAs="String">
                <value>usbcameraconfig.xml</value>
            </setting>
            <setting name="AuthenticationMethod" serializeAs="String">
                <value>Windows</value>
            </setting>
            <setting name="InternalAuthenticationMethodUserName" serializeAs="String">
                <value>junkuserman</value>
            </setting>
            <setting name="InternalAuthenticationMethodPassword" serializeAs="String">
                <value>junkpasswordgal</value>
            </setting>
            <setting name="Secure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Certificate" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxRecordedFrames" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="RecordingDirectory" serializeAs="String">
                <value>c:\Videos</value>
            </setting>
        </USBMotionJpegServer.Properties.Settings>
    </applicationSettings>
</configuration>
